/* Input Form 1 */
.form_1 {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}

.form_1 .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.form_1 .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.form_1 input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}

.form_1 input:hover {
    background: none;
}

.form_1 input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.form_1 input:focus {
    background: none;
    outline: none;
}

.form_1 input:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.form_1 input:focus + span + .border {
    transform: scaleX(1);
}


/* Input Form 2 */
.form_2 {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}

.form_2 .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.form_2 .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.form_2 input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}

.form_2 input:hover {
    background: none;
}

.form_2 input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.form_2 input:focus {
    background: none;
    outline: none;
}

.form_2 input:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.form_2 input:focus + span + .border {
    transform: scaleX(1);
}


/* Input Form 3 */
.form_3 {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 450px;
}

.form_3 .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.form_3 .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.form_3 input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}

.form_3 input:hover {
    background: none;
}

.form_3 input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.form_3 input:focus {
    background: none;
    outline: none;
}

.form_3 input:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.form_3 input:focus + span + .border {
    transform: scaleX(1);
}


/* Input Form 4 */
.form_4 {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}

.form_4 .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.form_4 .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.form_4 input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}

.form_4 input:hover {
    background: none;
}

.form_4 input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.form_4 input:focus {
    background: none;
    outline: none;
}

.form_4 input:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.form_4 input:focus + span + .border {
    transform: scaleX(1);
}


/* Input Form 5 */
.form_5 {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}

.form_5 .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.form_5 .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.form_5 input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}

.form_5 input:hover {
    background: none;
}

.form_5 input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.form_5 input:focus {
    background: none;
    outline: none;
}

.form_5 input:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.form_5 input:focus + span + .border {
    transform: scaleX(1);
}


/* Input Form 6 */
.form_6 {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}

.form_6 .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.form_6 .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.form_6 input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}

.form_6 input:hover {
    background: none;
}

.form_6 input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.form_6 input:focus {
    background: none;
    outline: none;
}

.form_6 input:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.form_6 input:focus + span + .border {
    transform: scaleX(1);
}


/* Input Form 7 */
.form_7 {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}

.form_7 .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.form_7 .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.form_7 input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}

.form_7 input:hover {
    background: none;
}

.form_7 input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.form_7 input:focus {
    background: none;
    outline: none;
}

.form_7 input:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.form_7 input:focus + span + .border {
    transform: scaleX(1);
}


/* Input Form 8 */
.form_8 {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}

.form_8 .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.form_8 .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.form_8 input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}

.form_8 input:hover {
    background: none;
}

.form_8 input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.form_8 input:focus {
    background: none;
    outline: none;
}

.form_8 input:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.form_8 input:focus + span + .border {
    transform: scaleX(1);
}


/* Input Form 9 */
.form_9 {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}

.form_9 .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.form_9 .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.form_9 input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}

.form_9 input:hover {
    background: none;
}

.form_9 input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.form_9 input:focus {
    background: none;
    outline: none;
}

.form_9 input:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.form_9 input:focus + span + .border {
    transform: scaleX(1);
}


/* Input Form 10 */
.form_10 {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}

.form_10 .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.form_10 .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.form_10 input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}

.form_10 input:hover {
    background: none;
}

.form_10 input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.form_10 input:focus {
    background: none;
    outline: none;
}

.form_10 input:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.form_10 input:focus + span + .border {
    transform: scaleX(1);
}


/* Input Form 11 */
.form_11 {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}

.form_11 .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.form_11 .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.form_11 input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}

.form_11 input:hover {
    background: none;
}

.form_11 input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.form_11 input:focus {
    background: none;
    outline: none;
}

.form_11 input:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.form_11 input:focus + span + .border {
    transform: scaleX(1);
}


/* Input Form 12 */
.form_12 {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}

.form_12 .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.form_12 .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.form_12 input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}

.form_12 input:hover {
    background: none;
}

.form_12 input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.form_12 input:focus {
    background: none;
    outline: none;
}

.form_12 input:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.form_12 input:focus + span + .border {
    transform: scaleX(1);
}