<main class="container">
    <div id="search-wrap">
        <input type="text" class="search-input-text" placeholder="알림을 받고싶은 키워드를 입력하세요" />
        <i class="fas fa-search fa-3x search-icon"></i>
    </div>
</main>