/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  /* 폰트 */ 
  @font-face { font-family: 'S-CoreDream-2ExtraLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); font-weight: normal; font-style: normal; }
  
  .font-coredream {
    font-family: 'S-CoreDream-2ExtraLight'
  }
  
  .font-title-coredream {
    font-weight: bold;
    font-size: 20px;
    font-family: 'S-CoreDream-2ExtraLight'
  }
  
  .crawling_add_box {
    background-color: #FF4555;
    padding: 20px;
    margin-top: 30px;
    font-size: 30px;
    font-family: S-CoreDream-2ExtraLight;
    height: 300px;
    postion: relative;
    margin-top: -150px;
  }
  
  .crawling_add_box:hover {
    box-shadow: 4px 4px 1px rgba(145, 145, 145, 0.37);
  }
  
  .crawling_box {
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    border: 2px solid #d3d3d3;
    height: 300px;
  }
  
  .crawling_box:hover {
    box-shadow: 4px 4px 1px rgba(145, 145, 145, 0.37);
  }
  
  .text-none {
    color: white;
    text-decoration: none;
  }
  
  .subscribe-submit {
    background-color: #14c56b;
    color: white;
    font-weight: bold;
    border: 0px;
    padding: 5px 15px;
    border-radius: 5px;
  }
  
  .subscribe_on {
    background-color: #fb2626;
    color: white;
    border: 0px solid black;
    height: 40px;
    text-align: center;
    line-height: 40px;
    //margin-top: 43px;
  }
  
  .subscribe_off {
    background-color: white;
    color: #fb2626;
    border: 2px solid #fb2626;
    height: 40px;
    text-align: center;
    line-height: 40px;
    //margin-top: 43px;
  }
  
  .text-none:hover
  {
    color: white;
    text-decoration: none;
  }
 
 .login_box {
    background-color: white;
    box-shadow: 8px 8px 1px 1px rgba(0, 0, 0, 0.16);
    padding: 50px;
  }
  
  /* index inform row*/
  .category_board_row {
    background-color: black;
    border-bottom: 4px solid #b4a6ff;
    color: white;
    padding: 10px;
  }
  
  .index_board_row {
    background-color: black;
    border-bottom: 4px solid white;
    color: white;
    padding: 10px;
  }

  /* 글자 ellipsis (글자수 초과 시 '...' 처리) */
  .etc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .background-black_pc {
    background-color: rgba(0, 0, 0, 0.51);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 150px 0px 80px 0px;
  }
  
  .background-black_mobile {
    background-color: rgba(0, 0, 0, 0.51);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 100px 0px 50px 0px;
  }
  
  /* 카테고리 게시판 상단 Thum 영역(PC) */
  .category_board {
    background: url('/board_banner_img/board_banner1.jpg') no-repeat fixed;
    background-size: 100% 70%;
    background-position: 0px -180px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding: 200px 0px 250px 0px;
    text-align: center;
  }
  
  /* 카테고리 상단 Thum 영역(모바일) */
  .category_board_mobile {
    background: url('/board_banner_img/board_banner1.jpg') no-repeat center center/cover scroll;
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding: 100px 0px 50px 0px;
    text-align: center;
  }
  
  /* 게시판 상단 Thum 영역(PC) */
  .board {
    background: url('/board_banner_img/board_banner2.jpg') no-repeat fixed;
    background-size: 100% 70%;
    background-position: 0px -180px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding: 150px 0px 80px 0px;
    text-align: center;
  }
  
  /* 공지사항 상단 Thum 영역(모바일) */
  .board_mobile {
    background: url('/board_banner_img/board_banner2.jpg') no-repeat center center/cover scroll;
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding: 100px 0px 50px 0px;
    text-align: center;
  }
  
  /* 공지사항 상단 Thum 영역(PC) */
  .board-notice {
    background: url('/board_banner_img/board_banner4.jpg') no-repeat fixed;
    background-size: 100% 70%;
    background-position: 0px -180px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
  }
  
  /* 공지사항 상단 Thum 영역(모바일) */
  .board-notice_mobile {
    background: url('/board_banner_img/board_banner4.jpg') no-repeat center center/cover scroll;
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
  }
  
  /* 공지사항 음영 처리 */
  .notice-banner_black {
    background-color: rgba(0, 0, 0, 0.51);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 150px 0px 80px 0px;
  }
  
  /* 공지사항 음영 처리 */
  .notice-banner_black-mobile {
    background-color: rgba(0, 0, 0, 0.51);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 120px 0px 50px 0px;
  }
  
  .message_pc{
    background: url('/board_banner_img/board_banner3.jpg') no-repeat fixed;
    background-size: 100% 70%;
    background-position: 0px -180px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
  }
  
  .message_mobile {
    background: url('/board_banner_img/board_banner3.jpg') no-repeat center center/cover scroll;
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
  }
  
  /* 배너영역 Text */
  .board_title {
    color: white;
  }
  
  /* 배너영역 Text */
  a.board_title:focus, a.board_title:hover {
    text-decoration: none;
    color: yellow;
  }
  
  /* 게시글 제목 input */
  .input_noborder {
    background-color: rgba(96, 125, 139, 0);
    border-top: 0px;
    border-bottom: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    width: 100%;
  }
  
  /* 게시글 제목 input */
  input:focus {
    outline: 0;
  }
  
  /* 이미지가 Content 영역 초과되지 않게 방지 */
  .panel-body img{
    max-width : 100%;
    max-height : 100%;
  }
  
  /* devise input */
  .devise_noborder {
    background-color: rgba(96, 125, 139, 0);
    border-top: 0px;
    border-bottom: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .row_background {
    background-color: #FFFFFF;
  }
  
  .row_background:hover {
    background-color: #ECECEC;
  }
  
  .agree_argument {
    width: 110px;
    height: 110px;
    border: 2px solid #18d26e;
    background: linear-gradient(white 50%, #18d26e 50%);
    border-radius: 50%;
    box-shadow: 2px 2px 8px #888888;
  }
  
  .post-vote_up {
    width: 110px;
    height: 110px;
    border: 2px solid #3d8be8;
    background: linear-gradient(white 50%, #3d8be8 50%);
    border-radius: 50%;
    box-shadow: 2px 2px 8px #888888;
  }
  
  .post-vote_down {
    width: 110px;
    height: 110px;
    border: 2px solid #fd4a4a;
    background: linear-gradient(white 50%, #fd4a4a 50%);
    border-radius: 50%;
    box-shadow: 2px 2px 8px #888888;
  }
  
  .post-vote_selected {
    width: 110px;
    height: 110px;
    border: 2px solid #b962ff;
    background: linear-gradient(white 50%, #b962ff 50%);
    border-radius: 50%;
    box-shadow: 2px 2px 8px #888888;
  }
  
  .comment-vote_up {
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #6bbdff;
    color: #75c2ff;
    border-radius: 10%;
  }
  
  .comment-vote_up:hover {
    color: white;
    background-color: #6bbdff;
  }
  
  .comment-vote_down {
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #ffa6a6;
    color: #ffacac;
    border-radius: 10%;
  }
  
  .comment-vote_down:hover {
     color: white;
     background-color: #ffa6a6;
  }
  
  .comment-vote_selected {
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #dcb0ff;
    border: 1px solid #dcb0ff;
    color: white;
    border-radius: 10%;
  }
  
  .table_separate {
    border-bottom: 1px solid #cecece;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .devise_form {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .comment_left-bar {
    border-left: 4px solid #e5f3d2;
    margin-bottom: 10px;
  }
  
  .best-comment_area {
    background-color: #dfffe8;
    border-top: 1px dashed #1e9262;
    padding: 10px;
  }
  
main#main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  min-width: 100vw;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.search-section {
  position: relative;
  width: 1100px;
  max-width: 55vw;
}

.search-btn {
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
  cursor: pointer;
}

.search-btn:hover {
  filter: brightness(60%);
}

.search-section-title {
  position: absolute;
  top: 27%;
  left: 11%;
  color: black;
  font-family: 'S-CoreDream-2ExtraLight';
  font-size: 2.5rem;
  word-break: keep-all;
  z-index: 10;
}

.search-section-subtitle {
  font-family: 'S-CoreDream-4Regular';
  color: black;
  font-size: 2.5rem;
  z-index: 10;
}

.search-wrap {
  display: flex;
  top: 57%;
  left: 0;
  width: auto;
  margin: 0 auto;
  position: relative;
  border-bottom: 3px solid #ff4555;
  width: auto;
  margin: 0 11%;
  padding-bottom: 10px;
  justify-content: space-between;
  z-index: 10;
  
  .search-input-text {
    border: 0;
    font-size: 1.2em;
    width: 100%;
    font-family: 'S-CoreDream-4Regular';
    color: #181818;
  }
}

.user-sidebar * {
  user-select: none;
}

.user-sidebar {
  overflow: scroll;
  background-image: url(/images/main-img.jpg);
  background-size: cover;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.user-sidebar-content {
  position: relative;
  width: 260px;
  height: 100vh;
  margin-left: auto;
  background-color: #212529d4;
}

.text-logo {
  position: absolute;
  top: 34px;
  left: 33px;
}

.user-edit {
  left: 30px;
  top: 140px;
  width: 95px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  z-index: 20;
}

.user-img {
  position: absolute;
  top: 147px;
  left: 34px;
  background-color: white;
  border-radius: 100%;
}

.user-name {
  color: white;
  font-family: 'S-CoreDream-4Regular';
  position: absolute;
  top: 150px;
  left: 74px;
  font-size: 17px;
}

.user-logout {
  color: white;
  position: absolute;
  top: 154px;
  right: 36px;
  font-size: 12px;
  transition: all 0.2s ease-in-out;
}

.user-logout:hover {
  color: #aaa;
  text-decoration: none;
}

.history-category-wrap {
  position: relative;
  top: 200px;
  left: 0;
  width: 100%;
  height: calc(100% - 240px);
}

.history-list::-webkit-scrollbar {
    width: 0;
}

.user-history {
  display: flex;
  color: white;
  font-family: 'S-CoreDream-4Regular';
  position: relative;
  top: 10px;
  left: 0;
  width: 100%;
  font-size: 17px;
  height: 50px;
  padding-left: 39px;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.user-history:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
}

.history-list {
  position: relative;
  top: 34px;
  left: 0;
  width: 100%;
  font-family: 'S-CoreDream-1Thin';
  color: white;
  list-style: none;
  max-height: 100px;
  overflow: hidden;
  margin: 0;
  transition: all 0.2s ease-in-out;
}

.history-list li, .history-list li a {
  color: white;
  height: 20px;
  margin-bottom: 5px;
  transition: all 0.2s ease-in-out;
  font-size: 15px;
}

.history-list li a:hover {
  text-decoration: none;
  color: #aaa;
  cursor: pointer;
}

.history-list.active {
  max-height: none;
  height: calc(100% - 10!  0px);
  overflow: scroll;
  transition: all 0.2s ease-in-out;
}

.history-more {
  color: white;
  display: block;
  position: relative;
  text-align: right;
  padding-right: 36px;
  left: 0;
  width: 100%;
  font-size: 12px;
  font-family: 'S-CoreDream-1Thin';
  transition: all 0.2s ease-in-out;
  width: fit-content;
  margin-left: auto;
  user-select: none;
}

.history-more.active {
  color: #aaa;
}

.user-alarm {
  display: flex;
  color: white;
  font-family: 'S-CoreDream-4Regular';
  position: relative;
  top: 60px;
  left: 0;
  width: 100%;
  font-size: 17px;
  height: 50px;
  padding-left: 49px;
  align-items: center;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.alarm-number {
  min-width: 22px;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 5px;
  padding-left: 5px;
  width: fit-content;
  height: 20px;
  align-items: center;
  display: flex;
  color: red;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 10px;
  text-align: center;
}

.user-notice {
  display: flex;
  color: white;
  font-family: 'S-CoreDream-4Regular';
  position: relative;
  top: 60px;
  left: 0;
  width: 100%;
  font-size: 17px;
  height: 50px;
  padding-left: 49px;
  align-items: center;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.user-alarm:hover, .user-notice:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
  cursor: pointer;
}

.user-sidebar:before {
  content: " ";
  position: absolute;
  right: 0;
  width: 250px;
  height: 100vh;
  filter: blur(10px) brightness(0.9);
  background-image: url(/images/main-img.jpg);
  background-size: cover;
  background-position: -79px 0px;
  background-repeat: no-repeat;
}

.page-user-edit {
  display: grid;
  grid-template-columns: auto 260px;
  min-width: 100vw;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.page-user-edit .user-sidebar-content{
  user-select: none;
  opacity: 0.2;
  pointer-events: none;
}

.user-edit-section {
  display: grid;
  grid-template-rows: repeat(4, auto);
}

.edit-title {
  margin-bottom: 5vw;
  margin-left: 11vw;
  margin-top: 16vh;
  font-family: 'S-CoreDream-4Regular';
  font-size: 2.3em;
  height: fit-content;
}

.hr {
  border-top: solid 1px rgba(24, 24, 24, 0.2);
  margin-left: 11vw;
  width: 26vw;
}

.user-delete {
  background-color: transparent;
  color: gray;
  border: 0;
  margin-left: 11vw;
  font-size: 14px;
}

.user-delete:hover {
  background-color: transparent;
  color: gray;
}

.edit-back {
  margin-left: auto;
  margin-right: 50px;
  color: gray;
  background-color: transparent;
  font-size: 14px;
}

.edit_user {
  margin-left: 11vw;
}

.edit_user .field {
  font-family: 'S-CoreDream-4Regular';
  padding-left: 20px;
  width: 26vw;
  min-height: 40px;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 12px;
  border: solid 1px rgba(24, 24, 24, 0.2);
  
  input:not(.user-edit-btn) {
    min-height: 40px;
    border: 0;
    margin: 0;
  }
}

.user-edit-btn {
  width: 26vw;
  height: 40px;
  background-color: #ff4555;
  outline: none;
  border: 0;
  margin-left: 0;
  margin-right: auto;
}

.user-edit-btn:active, .user-edit-btn:focus {
  background-color: hsl(355, 100%, 44%) !important;
  outline: none !important;
  border: 0 !important;
  box-shadow: none !important;
}

.user-edit-btn:hover {
  background-color: hsl(355, 100%, 44%);
  outline: none;
}

.modal-wrap {
  min-width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 100%, 0.4);
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  font-family: 'S-CoreDream-2ExtraLight';
  width: 460px;
  height: 540px;
  overflow: hidden;
  
  h1 {
    font-family: 'S-CoreDream-2ExtraLight';
    font-size: 1.3em;
    margin: 0 auto;
    width: 320px;
    margin-top: 85px;
    margin-bottom: 30px;
    line-height: 200%;
  }
  
  .url {
    font-family: 'S-CoreDream-2ExtraLight';
    width: 320px;
    margin: 0 auto;
    border: 0;
    font-size: 1.2em;
    padding-bottom: 10px;
    border-bottom: 2px solid #ff4555;
  }
  
  .modal-bottom {
    padding: 0;
    position: relative;
    height: 178px;
    margin-top: 130px;
    background-color: #f0f0f0;
    
    h2 {
      font-size: 1em;
      position: absolute;
      top: 45px;
      left: 0;
      margin-left: 25px;
      font-family: 'S-CoreDream-2ExtraLight';
    }
    
    h3 {
      font-size: 0.8em;
      position: absolute;
      top: 75px;
      left: 0;
      width: 100%;
      font-family: 'S-CoreDream-1Thin';
      color: white;
      list-style: none;
      max-height: 250px;
      overflow: hidden;
      margin: 0;
      transition: all 0.2s ease-in-out;
    }
    
    .history-list li, .history-list li a {
      color: white;
      height: 20px;
      margin-bottom: 5px;
      transition: all 0.2s ease-in-out;
      font-size: 15px;
    }
    
    .history-list li a:hover {
      text-decoration: none;
      color: #aaa;
      cursor: pointer;
    }
    
    .history-list.active {
      max-height: none;
      height: calc(100% - 100px);
      overflow: scroll;
      transition: all 0.2s ease-in-out;
      margin-left: 25px;
      font-family: 'S-CoreDream-2ExtraLight';
    }
    
    .dumy-title-1 {
      background-color: transparent;
      border: 0;
      position: absolute;
      left: 0;
      top: 100px;
      font-size: 0.8em;
      color: gray;
      width: 300px;
      border-bottom: 1px solid gray;
      margin-left: 25px;
    }
    
    .dumy-title-2 {
      background-color: transparent;
      border: 0;
      position: absolute;
      left: 0;
      top: 125px;
      font-size: 0.8em;
      color: gray;
      width: 300px;
      border-bottom: 1px solid gray;
      margin-left: 25px;
    }
    
    .dumy-btn {
      position: absolute;
      background-color: #ff4555;
      color: white;
      top: 96px;
      right: 20px;
      width: 80px;
      height: 50px;
      border: 0;
      font-size: 1em;
      font-family: 'S-CoreDream-2ExtraLight';
    }
    
    .dumy-btn:hover {
       background-color: hsl(355, 100%, 44%); 
       cursor: pointer;
    }
  }
}
